<md-fab-toolbar md-open="false" count="0" md-direction="left">
    <md-fab-trigger class="align-with-text">
        <md-button aria-label="menu" class="md-fab md-primary">
            <md-icon md-svg-src=""></md-icon>
        </md-button>
    </md-fab-trigger>
    <md-toolbar>
        <md-fab-actions class="md-toolbar-tools">
            <md-button aria-label="button" class="md-icon-button">
                <md-icon md-svg-src=""></md-icon>
            </md-button>
            <md-button aria-label="button" class="md-icon-button">
                <md-icon md-svg-src=""></md-icon>
            </md-button>
            <md-button aria-label="button" class="md-icon-button">
                <md-icon md-svg-src=""></md-icon>
            </md-button>
        </md-fab-actions>
    </md-toolbar>
</md-fab-toolbar>
