<md-menu>
    <md-button aria-label="button" class="md-icon-button" ng-click="">
        <md-icon md-menu-origin md-svg-icon=""></md-icon>
    </md-button>
    <md-menu-content width="4">
        <md-menu-item>
            <md-button aria-label="button" ng-click="">
                <md-icon md-svg-icon="" md-menu-align-target></md-icon>
                Redial
            </md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button disabled="disabled" aria-label="button" ng-click="">
                <md-icon md-svg-icon=""></md-icon>
            </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
            <md-button aria-label="button" ng-click="">
                <md-icon md-svg-icon=""></md-icon>
            </md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>
