<md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="one">
        <md-content class="md-padding">
            <h1 class="md-display-2"></h1>
            <p></p>
        </md-content>
    </md-tab>
    <md-tab label="two">
        <md-content class="md-padding">
            <h1 class="md-display-2"></h1>
            <p></p>
        </md-content>
    </md-tab>
    <md-tab label="three">
        <md-content class="md-padding">
            <h1 class="md-display-2"></h1>
            <p></p>
        </md-content>
    </md-tab>
</md-tabs>
