<md-toolbar class="md-menu-toolbar">
    <div layout="row">
        <md-toolbar-filler layout layout-align="center center">
            <md-icon md-svg-icon=""></md-icon>
        </md-toolbar-filler>
        <div>
            <h2 class="md-toolbar-tools"></h2>
            <md-menu-bar>
                <md-menu>
                    <button ng-click="">
                    </button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ng-click="">
                            </md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item>
                            <md-menu>
                                <md-button ng-click=""></md-button>
                                <md-menu-content>
                                    <md-menu-item>
                                        <md-button ng-click=""></md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click=""></md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </md-menu-item>
                        <md-menu-item>
                            <md-menu>
                                <md-button ng-click=""></md-button>
                                <md-menu-content>
                                    <md-menu-item>
                                        <md-button ng-click=""></md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click=""></md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-menu-bar>
        </div>
    </div>
</md-toolbar>
