<!DOCTYPE html>
<html>

<head>
    <title>Angular Material Generator</title>
    <!-- inject:css -->
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="/public/css/app.css">
    <!-- endinject -->
</head>

<body ng-app="AngularMaterialExample">
    <h1 class="md-display-1 text-center">Angular Material Generator</h1>
    <md-content class="md-padding" layout="row" layout-align="center">
        <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-sref="home" name="home">Home</md-nav-item>
            <md-nav-item md-nav-sref="about" name="about">About</md-nav-item>
        </md-nav-bar>
    </md-content>
    <div ui-view></div>
    <!-- inject:js -->
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="/bower_components/angular-material/angular-material.min.js"></script>
    <script src="/bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="/bower_components/angular-ui-router/angular-ui-router.min.js"></script>
    <script src="/public/js/config/app.js"></script>
    <script src="/public/js/controllers/about-controller.js"></script>
    <script src="/public/js/controllers/home-controller.js"></script>
    <!-- endinject -->
</body>

</html>
